.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.js-clock {
  color: white;
  font-size: 158px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}
