.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.js-clock {
  color: white;
  font-size: 58px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

@media (min-width: 700px) {
  .js-clock {
    font-size: 158px;
  }
}
